<!-- <main>
    <div *ngFor="let element of contact">
        <div>
            <img src="{{element.icon?.src}}" alt="{{element.icon?.alt}}">
        </div>
        <p>{{element.text}}</p>
        <p>{{element.text2}}</p>
    </div>
</main> -->
