<!-- <header>
    <nav>
        <a *ngFor="let element of header" [routerLink]="element.navigate">
            {{element.name}}
        </a>
    </nav>
</header> -->

<header class="header">
    <a href="" class="logo">JAL</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li *ngFor="let element of header"><a [routerLink]="element.navigate">{{element.name}}</a></li>
    </ul>
  </header>

  <!-- <header class="b-header">
    <section>
        <label for="menu-control" class="hamburger">
            <i class="hamburger__icon"></i>
            <i class="hamburger__icon"></i>
            <i class="hamburger__icon"></i>
        </label>
    
        <input type="checkbox" id="menu-control" class="menu-control">
    
        <aside class="sidebar">
            <nav class="sidebar__menu">
                <a *ngFor="let element of header" [routerLink]="element.navigate">{{element.name}}</a>
            </nav>
    
            <label for="menu-control" class="sidebar__close"></label>

        </aside>
    </section>
    
</header> -->
