main{
    background-color:rgba(107, 67, 67, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
  
}

.container{
    width: 80vw;
    margin: 0 auto;

    &__title{
        text-align: center;
    }
    &__home{
        width: 95%;
        display: flex;
        justify-content:center;
        align-items:center;
        
        &__description{
            width: 50%;
            margin-right: 15px;
            display: flex;
        justify-content:center;
        align-items:center;
            &--text{
                text-align: center;
        }
            
        }

        &__image{
            width: 50%;
            height:350px;
            display: flex;
            justify-content:center;
            align-items:center;
            &--img{
                max-width: 80%;
            }
        }
    }
  
}