<main>
    <div class="container">
      <div>
        <h1 class="container__title">{{ about?.title }}</h1>
      </div>
      <div class="container__home">
        <div class="container__home__description "> 
          <h3>{{ about?.description }}</h3>
        </div>
        <div class="container__home__image">
          <img class="container__home__image--img" src="{{ about?.img?.src }}" alt="{{ about?.img?.alt }}" />
        </div>
      </div>
    </div>
  </main>
  