<main>
  <div class="container">
    <div>
      <h1 class="container__title">{{ home?.title }}</h1>
    </div>
    <div class="container__home">
      <div class="container__home__description "> 
        <h3>{{ home?.description }}</h3>
      </div>
      <div class="container__home__image">
        <img class="container__home__image--img" src="{{ home?.img?.src }}" alt="{{ home?.img?.alt }}" />
      </div>
    </div>
  </div>
</main>
