
<footer class="container">
    <div class ="container__rrss">
        <div *ngFor="let element of footer.rrss">
            <a  href="{{element.link}}"><img class="container__rrss--icon" src="{{element.icon}}" alt="{{element.name}}"></a>
         </div>
    </div>
</footer>
