@import "../../../../styles/reset";
.container{
    position: fixed;
    bottom:0;
    background-color: #f4f4f4;
    display:flex;
    align-items: center;
    width: 100%;
    height: 50px;
    
    &__rrss{
        display: flex;
        justify-content: space-around;
        width: 100vw;
        &--icon{
            width: 100%;
        }
    }

}