<main>
  <div class="container">
    <div class="container__box">
    <div class="container__card" *ngFor="let element of skills">
  
     <img class="container__card--img" src="{{ element.img.src }}" alt="{{ element.img.alt }}" />
     
    </div>
  </div>
  </div>
</main>
