main{
    background-color:rgba(107, 67, 67, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    
}

.container{
    width: 300px;
  height: 180px;
  padding: 10px;
  border: 2px solid rgba(255, 0, 0, 0.198);
  background: rgba(246, 246, 109, 0.452);
  display: flex;
  box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
  
  &__box{
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
  }
  &__card{
      width:25%;
      height: 50%;
      margin: 0px,10px;
      display: flex;
      align-items:center;
      &--img{
          max-width: 100%;
      }
  }
}
