main{
    background-color:rgba(107, 67, 67, 0.4);
    width: 100vw;
    height: 360vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}


.container{
    width: 80vw;
   
    display: flex;
    flex-wrap: wrap;
    &__card{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100vw;
        height: 85vh;
        &--title{
            text-align: center;
           
        }
        &--description{
            text-align: center;
        }
        &__images{
            display: flex;
            justify-content:center;
            align-items:center;
            width: 100%;
            height:50%;
            &__image{
                display: flex;
            justify-content:center;
            align-items:center;
                width: 50%;
                box-sizing: content-box;
                
                &--img{
                  
                   max-width: 100%;
                    
                }
            }
        }
    }
}

@media only screen and (min-width: 700px){
    .container__card__images__image{
        width: 40%;
        &--img{
            max-width:90%;
        }
    }
    
}