<main>
  <div class="container">
    <div class="container__card" *ngFor="let element of proyect">
      <h1 class="container__card--title">{{ element?.titleImg }}</h1>
      <p class="container__card--description">{{ element?.description }}</p>
      <div class="container__card__images"> 
      <div class="container__card__images__image" *ngFor="let image of element.img">
        <img class="container__card__images__image--img" src="{{ image.src }}" alt="{{ image.alt }}" />
      </div>
    </div>
    </div>
  </div>
</main>
